[Unit]
Description=Prometheus
After=network.target

[Service]
User=prometheus
EnvironmentFile=/etc/sysconfig/prometheus
ExecStart=/usr/bin/prometheus -config.file=/etc/prometheus/prometheus.yaml -web.console.libraries=/usr/share/prometheus/console_libraries -web.console.templates=/usr/share/prometheus/consoles $ARGS

[Install]
WantedBy=multi-user.target
